<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="static/about.css">
</head>
<body>
    <header>
        <h1>About WrestleRate</h1>
    </header>

    <main>
        <section class="introduction">
            <h2>The Motivation</h2>
            <p>As I've watched wrestling for the past 10+ years, I've loved to rank/rate various matches and decide which ones I like "best". However, I feel there was no definitive site where I could store this ratings and view the distribution of them. That's why I created WrestleRate.</p>
            <p>One of my main focuses of this web app was a individualistic focus rather than the community type ratings you see on other sites. I simply wanted an app where I and others could view our own ratings without getting influenced by the general opinion. I also believe that this more freethinking approach discourages tribalism, which I'm not a fan of. Because of this, I have no plans to implement a "community" match score system in the near feature however comments are a possibility.</p>
            <p>Thank you for visiting, and I look forward to sharing more with you!</p>
            <h2>How to Use</h2>
            <p>The interface is pretty self-explanatory. You login or create your account and just start rating wrestling matches that you have seen. Your distribution of ratings in the bottom will be updated after every input. If you want to delete a match, simply click the red X next to it. If you want to see your average rating by superstar, click the "See By Superstar" button.</p>
            <h2>FAQ</h2>
            <p>Currently, we only have data for matches for WWE (2000-Present), AEW (all), and NJPW (2010-present) but most likely more will be gradually loaded in.</p>
            <p>As this project is currently in the beta stages, I am always looking for suggestions or fixes. PLEASE do not be shy to shoot an email to me at benadelman0@gmail.com.</p>
            <p>Thank you all so much for taking the time to view my site! I know its not perfect (or close to it), but I hope it allows you to more freely capture your thoughts and opinions related to wrestling!
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Ben Adelman. All rights reserved.</p>
    </footer>
</body>
</html>
